<div class="autocomplete-item" v-bind:class="{ selected: selected }">
  <h3 class="name">
    <a class="add-food btn" @click.stop.prevent="$emit('add-entry')" v-if="measurements">
      <i class="fa fa-plus"></i>
      Add Entry
    </a>
    {{ name }}
  </h3>
  <p v-text="description" class="description" v-if="description"></p>
  <div class="small-loader" v-if="loading">
    <i class="fa fa-cog fa-spin"></i>
    <span class="screen-reader-text">Loading...</span>
  </div>
  <div class="measurements">
    <autocomplete-measurement v-for="measurement in measurements"
                 :index="$index"
                 :amount="measurement.amount"
                 :unit="measurement.unit"
                 :calories="measurement.calories"
                 :fat="measurement.fat"
                 :carbs="measurement.carbs"
                 :protein="measurement.protein"
                 :id="measurement.id"
                 @next-autocomplete-item="$emit('next-autocomplete-item')"
                 @prev-autocomplete-item="$emit('prev-autocomplete-item')"
                 @next-measurement="nextMeasurement()"
                 @prev-measurement="prevMeasurement()"
                 @add-entry="$emit('add-entry')"
                 @fill-in-form="$emit('fill-in-form', $arguments[0])"
                 ></autocomplete-measurement>
  </div>
</div>