<div class="autocomplete-item"
     v-bind:class="{ selected: selected }"
     @click="$parent.autoCompleteSelected = index">
  <h3 class="name">
    <a class="add-food btn" @click.stop.prevent="addEntry()" v-if="measurements">
      Add Entry
    </a>
    {{ name }}
  </h3>
  <p v-text="description" class="description" v-if="description"></p>
  <div class="small-loader" v-if="autoCompleteLoading">
    <i class="fa fa-cog fa-spin"></i>
    <span class="screen-reader-text">Loading...</span>
  </div>
  <div class="measurements">
    <autocomplete-measurement v-for="measurement in measurements"
                 :index="$index"
                 :amount="measurement.amount"
                 :unit="measurement.unit"
                 :calories="measurement.calories"
                 :fat="measurement.fat"
                 :carbs="measurement.carbs"
                 :protein="measurement.protein"
                 :selected-measurement="selectedMeasurement"></autocomplete-measurement>
  </div>
</div>