<% provide(:title, "Dashboard") %>

<%= render partial: "shared/app_menu" %>


<div id="dashboard-app" class="hide-if-no-js"></div>

<noscript>
  <strong>You need Javascript enabled to see the dashboard.</strong>
</noscript>