<div class="weight-entry">
	<div class="weight"><%= weight_entry.display_value %></div>
	<div class="meta">
		<%= link_to weight_entry_delete_path(weight_entry),
					class: 'delete-btn',
					title: 'Delete Entry' do %>
			<i class="fa fa-times"></i>
		<% end %>
	</div>
</div>
