.week-review {
  margin-bottom: $spacing-normal;
}

.week-review .day {
  font-weight: bold;
}

@include mqBeforeSize($desktop-breakpoint / 2) {
  .dashboard-charts.row {
    flex-wrap: wrap;
  }
  .dashboard-charts .col, .dashboard-charts .col.double {
    width: 100%;
    + .col {
      //margin-top: $spacing-normal;
    }
  }
}