.measurement.card {
  padding: $spacing-small;
  label, .label {
    display: block;
    font-size: $font-size-tiny;
  }
  .row {
    align-items: center;
  }
  .col {
    width: calc(14% - #{$spacing-small});
    text-align: center;
  }
  .btn-text {
    @include screenReaderText();
  }
}

.food.card .measurements.grid .row {
  align-items: flex-end;
}

.food.card .measurements.grid .col {
  text-align: center;
  &:first-child {
    font-size: $font-size-small;
    font-weight: bold;
    text-align: left;
  }
  strong {
    text-transform: uppercase;
    display: block;
    font-size: $font-size-tiny;
    opacity: .25;
    margin-bottom:$spacing-tiny;
  }
}