.measurement.card {
  padding: $spacing-small;
  input {
    padding: $spacing-tiny;
  }
  label, .label {
    display: block;
    font-size: $font-size-tiny;
  }
  .row {
    align-items: flex-start;
  }
  .col {
    width: calc(14% - #{$spacing-small});
    text-align: center;
    &:last-child {
      text-align: right;
      align-self: center;
    }
  }
  .btn-text {
    @include screenReaderText();
    @include mqAfterSize($desktop-breakpoint) {
      //@include deScreenReaderText();
    }
  }
  .unit, .calories, .fat, .carbs, .protein {
    display: block;
    margin-top: $font-size-small;
  }
}

.food-form .measurement.card .col {
  width: calc(16.6666% - #{$spacing-small});
  text-align: center;
}

.measurement.card .helper-input + .card-top-meta + .grid {
  @include animationCollapseExpand();
}

.measurement.card .helper-input:checked + .card-top-meta + .grid {
  max-height: $spacing-large;
  opacity: .1;
  pointer-events: none;
}

.measurement.card .helper-input:checked + .card-top-meta label {
  padding: $spacing-small;
  color: $red;
  .screen-reader-text {
    @include deScreenReaderText();
  }
}


.food.card .measurements.grid .row {
  align-items: flex-end;
}

.food.card .measurements.grid .col {
  text-align: center;
  &:first-child {
    font-size: $font-size-small;
    font-weight: bold;
    text-align: left;
  }
  strong {
    text-transform: uppercase;
    display: block;
    font-size: $font-size-tiny;
    opacity: .25;
    margin-bottom:$spacing-tiny;
  }
}