option_settings:
	- option_name: RAILS_ENV
		value: production
	- option_name: RDS_DB_NAME
		value: production
	- option_name: RDS_HOSTNAME
		value: production
	- option_name: RDS_PORT
		value: production
	- option_name: RDS_USERNAME
		value: production
	- option_name: RDS_PASSWORD
		value: production