<% provide(:title, "New Recipe") %>

<%= render partial: "shared/app_menu" %>

<h1><i class="fa fa-shopping-basket"></i> New Recipe</h1>

<p>Add a new recipe to help keep track of your frequent meals, or to help you discover new ways to eat within your goals.</p>

<%= render 'form' %>
