<% provide(:title, "Getting Started") %>

<h1>Getting Started</h1>

<p>I am no expert in fitness or nutrition. However, I know enough to know that
there is no secret diet to help you keep weight off; no pill to shed the pounds;
no exercise to make fat melt away. There is only a simple equation that works
uniformly in human populations in losing weight (barring, of course, underlying
metabolic or hormonal pathologies):</p>

<blockquote>Caloric Intake - Calories Burned = Weight Lost or Gained</blockquote>

<p>For instance, if your body burns 2,000 calories daily merely metabolizing food,
keeping your core temperature at 98.6 degrees, and circulating your blood, you
<em>will</em> lose weight if you eat 1,800 calories daily. This is no secret, and
has been proven countless times. The only hidden variable is your own will power.</p>

<p>Because of the legal woo for giving people advice on weight loss--which I am
not doing, just giving a tool to use to track your lifestyle--other exotic "secrets"
to losing weight usually involves a warning about first seeing your doctor. This is
because their methods are often based on some sort of strange food intake pattern or
nutritional variation that forces your body to compensate by shedding pounds. The
method I am outlining does not. You may feel a little hungry, but this can be reduced
by slowly decreasing your caloric intake, rather than dropping suddenly.</p>

<p>For more information, see:
<ul>
	<li>Kendall Krause, MD,
		<a href="http://abcnews.go.com/Health/Fitness/Story?id=5327486&page=1">"Keeping Food Diary Doubles Weight Loss"</a>,
		ABC News.</li>
	<li>Steven Novella, MD,
		<a href="http://www.theness.com/neurologicablog/?p=590">"Calories Revisited"</a>,
		Neurologica Blog.</li>
</ul>
</p>

<h2>How To Use w8mngr</h2>

<p><strong>Note:</strong> Technically, you do not even need to use this site.
Use a spreadsheet or an actual notebook if you wish. See Jennifer Scott's
article on
<a href="http://weightloss.about.com/od/eatsmart/a/blcalintake.htm">"How to Calculate Your Caloric Needs and Lose Weight"</a>
to get started on your own, and good luck!.</p>

<p>But if you want a tool to track your progress and keep you motivated, but need
help on how to get started, read on.</p>

<h3>Step 1: Calculating Your Caloric Needs</h3>

<p>There are several ways to calculate your caloric needs. The first method requires
a calculator, raw honesty, and rounding down. According to Jennifer Scott's article,
the equations for your daily caloric intake are:</p>

<blockquote>
<strong>Women:</strong><br />
655 + (4.3 x weight in pounds) + (4.7 x height in inches) - (4.7 x age in years)<br /><br />
<strong>Men:</strong><br />
66 + (6.3 x weight in pounds) + (12.9 x height in inches) - (6.8 x age in years)<br /><br />
<strong>Activity Levels:</strong><br />
Sedentary = +20%<br />
Lightly Active = +30%<br />
Moderately Active = +40%<br />
Very Active = +50%<br />
Extra Active = +60%<br />
(Ranging from an office worker who never sweats to a professional football player... be honest!)
</blockquote>

<p>So, according to those measurements, as a 74 inches tall male, 24 years of age, 195 pounds, and moderately active,</p>

<blockquote>
66 + (6.3 x 195) + (12.9 x 74) - (6.8 x 24) = 2073.3<br />
2073.3 * 1.40 = 2902.62
</blockquote>

<p>I burn almost 3000 calories per day!</p>

<p>But there <em>is</em> a much easier way to do this using various internet calculators.
Of course, their results are uneven due to minor differences in calculation and equation.
I would suggest going with the lower value of the set. Here a few notable ones:

<ul>
	<li><a href="http://www.mayoclinic.com/health/calorie-calculator/NU00598">Mayo Clinic Online Calorie Calculator</a></li>
	<li><a href="http://www.freedieting.com/tools/calorie_calculator.htm">FreeDieting.com Calorie Calculator<a></li>
	<li><a href="http://www.stevenscreek.com/goodies/calories.shtml">Stevens Creek Software Calorie Counter</a></li>
</ul>
</p>

<h3>Step 2: Tracking Your Food</h3>

<p>Tracking your food accurately isn't easy for anyone. We have a tendency to measure our
intake in items, rather than calories. In other words, most would assign basically the same
nutrition and caloric intake to a few pieces of fruit as they would a hamburger. This,
unfortunately, leads to overeating.</p>

<p>So how do you track food accurately? There a few methods:

<ul>
	<li><strong>Always overshoot on individual foods.</strong><br />
	If nutritional information on the back of the packaging says 280 calories, round up
	to 300. This ensures that you never undershoot and cheat yourself.
	</li>
	<li><strong>Think about everything you put in or on.</strong><br />
	How many calories did that extra slice of cheese add? That extra table spoon of peanut
	butter? Those few extra saltines with your soup? This goes hand in hand with above, as
	overshooting protects against minor additions and side items. But do not underestimate
	how many extra calories something like cheese, mayo, ketchup, etc. can add.
	</li>
	<li><strong>Use food databases.</strong><br />
	There are hundreds of these online to help you find information on foods whose nutritional
	information is not on the packaging. Similarly, a simple Google search for a restaurant
	and the term "nutrition" will usually bring up a list of a food chain's nutritional
	information. But sometimes, they are not listed on their site or may not have such facts
	readily available. Here are a few databases to help you find caloric information:
		<ul>
			<li><a href="http://www.nutritiondata.com/">NutritionData.com</a></li>
			<li><a href="http://www.calorieking.com/foods/">CalorieKing Food Database</a></li>
			<li><a href="http://www.fatfreekitchen.com/">Fat Free Kitchen Nutrition Tables</a></li>
			<li><a href="http://www.livestrong.com/thedailyplate/users/myplate/">The Daily Plate Food Plate Calculator</a> (subscription)</li>
		</ul>
	</li>
</ul>
</p>

<p>The hardest part is getting into the habit of recording your information. Once you do
that, it becomes part of a new lifestyle over which you have full control.</p>

<h3>Step 3: Stepping Down Your Intake</h3>

<p>There is no secret to this step, either. It takes sheer determination and will power
to triumph over hunger and habit, but with the help of your food log, you should eventually
grow more and more conscious of what you eat and how much you exercise--so much, in fact,
that you may become addicted to adding entries to your exercise log or finding places to
cut down on your calories.</p>

<p>If you feel bad or sick, you may be going too fast. But, more likely, your body is
adjusting to reduced caloric intake. This is why it is advised to ramp down intake, rather
than drop like a rock. The faster you drop your calories, the farther and harder you fall!</p>

<p>Alternatively, you could just be having a bad day. Don't feel bad about adding a cheat
day once every two weeks or so to keep up your love of food. There is nothing wrong with it
as long as you don't make a habit of it. Just remember to record that
day as you would any other, so you don't eat too much! It will also serve as a reminder that
you already had your day this week, so you aren't tempted to do it again!</p>

<h3>Step 4: Ramping Up Your Activity</h3>

<p>So, now your body is adjusted to lower calories. But for some, this is too slow for losing
weight or not enough to make them feel healthy.</p>

<p>This is time to start using that health log! Track your weight daily and your exercise
activity. Record only those things that you mean to be exercise, such as jogs, work outs,
biking, basketball games you play, etc. You can use your dashboard to see how much you have
worked out that week, so you do not slack.</p>

<p>Begin by slowly adding your choice of exercise once per week. Once you feel comfortable
with that, begin forming a habit around doing that exercise twice a week, three times, and
then (if you can or have time) every day! It only takes 20 minutes of cardio every day
to build a strong heart or 10-20 minutes daily of weight lifting to build muscles.</p>

<p><strong>Recommendation:</strong> do not to subtract workout calories burned (that some machines
display or calculators allow you to estimate) using your food log. It is dangerously easy to
over eat using these often overstated figures of burnt calories. Only do this if you know exactly
what you are doing!</p>

<p>Once you have formed a habit of working out, congratulations! You are now in full
control of your life. Test your limits, see how much it takes to gain weight, or just flip
on the cruise control switch and use w8mngr to make sure you stay in line.</p>
