<section class="call-to-action">
    <p class="suggestion">Take back your life</p>
    <p class="second suggestion">one day at a time</p>
    <div class="sign-up">
        <a href="<%= signup_path %>" class="btn banner">Get Started</a>
    </div>
    <div class="banner">
        <img class="banner-img"
            src="<%= image_path('banners/w8mngr-splash-01-small.jpg') %>"
            srcset="<%= image_path('banners/w8mngr-splash-01-medium.jpg') %> 1000w,
                    <%= image_path('banners/w8mngr-splash-01-large.jpg') %> 1920w"
            alt="Get back in shape at your own pace.">
    </div>
</section>

<section class="what-is-it">
    <h1>What is it?</h1>

    <p>w8mngr (wāt măn'ĭ-jər, or "weight manager") is a simple lifestyle and fitness tracker geared toward straightforward weight loss and health management. With the number of fad diets on the rise, it is easy to lose site of the original intentions of dieting: to keep the weight off and maintain a healthy lifestyle long after the diet ends.</p>

    <p>To do this requires much more work than simply cutting carbs or fatty foods. It's impossible to keep unhealthy foods out of your life entirely. But managing your intake and keeping track of your health is crucial in keeping you healthy and fit. This is the philosophy by which w8mngr was created: by tracking your lifestyle, you can maintain it. Once you have committed yourself to and experienced actual results from a diet that you have created, you will feel more confident about straying from your own guidelines once in a blue moon. Similarly, once you learn to think about what you eat, you stop dieting and have turned the corner to a healthy lifestyle.</p>

    <p>This is the philosophy by which W8mngr was created. What does that mean? Well, you can:</p>

    <ul>
        <li>Keep detailed records of your daily food intake.</li>
        <li>Track your glucose levels, blood pressure, weight, or whatever you wish with the custom entries dialogs.</li>
        <li>Track your exercise habits to maintain a fit, sleek self.</li>
        <li>Look back on the week's log, seeing averages and totals to see how much, how little, how high or how low the week has been.</li>
        <li>Keep daily notebook records about how you are feeling, what techniques you have used lately, or whatever you want.</li>
    </ul>

    <p>So why not register today? It's free!</p>
</section>
