<% provide(:title, "Privacy Policy") %>

<div class="section-inside">

  <h1>Privacy Policy</h1>

  <p>We can be reached via e-mail from our <a href="http://w8mngr.com//page.php?contact">contact form</a>. Never
  hesitate to ask questions regarding your privacy. <a href="http://www.google.com/help/netneutrality.html">Net</a>
  <a href="http://en.wikipedia.org/wiki/Network_neutrality">neutrality</a> and your
  <a href="http://action.freepress.net/campaign/savethenet">privacy</a> are extremely important
  to us.</p>

  <h3>Data Collected</h3>

  <p>For each visitor to our web page, our web server automatically recognizes only the consumer's domain name,
  but not the e-mail address (where possible). We collect only the domain name, but not the e-mail address
  of visitors to our web page, and information volunteered by the consumer, such as survey information,
  site registrations, and user health information.</p>

  <p><strong>User profile and health data</strong> is only available
  to the users who enter it. No data will ever be sold or disclosed to any agency (private or public) for any reason
  whatsoever.</p>

  <p>If you are an agency looking for aggregate health data, please look elsewhere.</p>

  <h3>Cookies</h3>

  <p>We use cookies to store visitors preferences and record session information.</p>

  <p>Third-party ad servers or ad networks use technology to serve the advertisements and links that appear on w8mngr.com.
  They automatically receive your IP address when this occurs. Other technologies (such
  as cookies, JavaScript, or Web Beacons) may also be used by the third-party ad networks to measure the effectiveness
  of their advertisements and/or to personalize the advertising content that you see.</p>

  <p>w8mngr.com has no access to or control over these cookies that are used by third-party advertisers.</p>

  <h3>Advertising</h3>

  <p>w8mngr.com reserves the right to serve advertisements to its users.</p>

  <p>With respect to Ad Servers: To try and bring you offers that are of interest to you, we have relationships
  with other companies that we allow to place ads on our Web pages. As a result of your visit to our site, ad server
  companies may collect information such as your domain type, your IP address and clickstream information. For further
  information, consult the privacy policies of:</p>

  <ul>
  	<li><a href="http://www.google.com/privacy_ads.html">Google AdWords</a>
  		(<a href="http://www.google.com/privacypolicy.html">privacy policy</a>)
  			<ul>
  				<li>Google, as a third party vendor, may use cookies to serve ads on w8mngr.com.</li>
  				<li>Google's use of the DART cookie enables it to serve ads to users based on their visit to w8mngr.com and other sites on the Internet.</li>
  				<li>Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - <a href="http://www.google.com/privacy_ads.html">google.com/privacy_ads.html</a></li>
  			</ul>
  	</li>
  </ul>

  <h3>Disclaimer</h3>

  <p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our
  privacy notice. If our information practices change at some time in the future <strong>we will contact you before we use your
  data for any new purposes to notify you of the policy change and to provide you with the ability to opt out</strong> of
  these new uses.</p>

  <p>Upon request we provide site visitors with access to a description of information that we maintain about them.
  Consumers can access this information by our <%= link_to "contact form", contact_path %>.</p>

  <p>We offer visitors the ability to have factual inaccuracies corrected in information that we maintain
  about them via the tools they used to enter that data in the first place. Most relevant data can be changed
  in profile options, which are <em>not</em> made available to the public or any third-parties.</p>

  <h3>Grievances</h3>

  <p>If you feel that this site is not following its stated information policy, you may
  <%= link_to "contact us", contact_path %> or third-party enforcement agencies:</p>
  <ul>
  	<li>The DMA's Committee on Ethical Business Practices at <a href="mailto:mgoldberger@the-dma.org">mgoldberger@the-dma.org</a></li>
  	<li>State or local chapters of the Better Business Bureau</li>
  	<li>State or local consumer protection office</li>
  	<li>The Federal Trade Commission by phone at 202.FTC-HELP (202.382.4357) or electronically at <a href="http://www.ftc.gov/ftc/complaint.htm">ftc.gov/ftc/complaint.htm</a></li>
  </ul>

</div>