<div class="inset week-review">
  <h2><i class="fa fa-table" aria-hidden="true"></i> Week in Review</h2></h2>
  <table class="week-review-table data-table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Carbs</th>
        <th>Protein</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="day in wirData.weekDays">
        <td class="day"><a href="{{ day[0] }}" v-text="day[1]"></a></a></td>
        <td v-text="wirData.weekCalories[$index][1]"></td>
        <td v-text="wirData.weekFat[$index][1]"></td>
        <td v-text="wirData.weekCarbs[$index][1]"></td>
        <td v-text="wirData.weekProtein[$index][1]"></td>
        <td v-text="wirData.weekWeights[$index][1]"></td>
      </tr>
    </tbody>
    <tfoot v-if="wirData.weekAverages">
      <tr>
        <th>Average</th>
        <td v-text="wirData.weekAverages.calories"></td>
        <td v-text="wirData.weekAverages.fat"></td>
        <td v-text="wirData.weekAverages.carbs"></td>
        <td v-text="wirData.weekAverages.protein"></td>
        <td v-text="wirData.weekAverages.weight"></td>
      </tr>
    </tfoot>
  </table>
</div>