<div class="inset week-review">
  <h2><i class="fa fa-table" aria-hidden="true"></i> Week in Review</h2></h2>
  <table class="week-review-table data-table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Carbs</th>
        <th>Protein</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="day in weekDays">
        <td class="day"><a href="{{ day[0] }}" v-text="day[1]"></a></a></td>
        <td v-text="weekCalories[$index][1]"></td>
        <td v-text="weekFat[$index][1]"></td>
        <td v-text="weekCarbs[$index][1]"></td>
        <td v-text="weekProtein[$index][1]"></td>
        <td v-text="weekWeights[$index][1]"></td>
      </tr>
    </tbody>
    <tfoot v-if="weekAverages">
      <tr>
        <th>Average</th>
        <td v-text="weekAverages.calories"></td>
        <td v-text="weekAverages.fat"></td>
        <td v-text="weekAverages.carbs"></td>
        <td v-text="weekAverages.protein"></td>
        <td v-text="weekAverages.weight"></td>
      </tr>
    </tfoot>
  </table>
</div>