<div class="user-stats app-panel grid">
  <div class="row">
    <div v-if="userStats.lastWeight" class="current col">
      <label>Current Weight: </label> <span v-text="userStats.lastWeight"></span>
    </div>
    <div v-if="userStats.firstWeight" class="first col double">
      <label>First Weight: </label> <span v-text="userStats.firstWeight"></span>
      <span class="time-ago"> {{ userStats.weightTimeDiff }} ago</span>
      <div v-if="userStats.maxWeight !== userStats.minWeight" class="min-max">
        <label>Heaviest: </label> <span class="heaviest" v-text="userStats.maxWeight"></span>
        <label>Lightest: </label> <span class="lightest" v-text="userStats.minWeight"></span>
      </div>
    </div>
    <div class="tdee col" v-if="userStats.tdee || userStats.atdee">
      <label><span v-if="userStats.atdee">Adaptive </span>TDEE:</label>
      <span v-if="userStats.tdee" v-text="userStats.tdee.toLocaleString()"></span> <span v-else v-text="userStats.atdee.toLocaleString()"></span>
    </div>
  </div>
</div>