<% if results.size > 0 %>
    <% results.each do |food| %>

        <div class="search-result">
            <%= render partial: "food", object: food %>
        </div>

    <% end %>
<% end %>
