<h1>Editing Food</h1>

<div class="page-meta">
    <%= link_to @food do %>
        <span class="icon-eye"></span>
        View Food
    <% end %>
    <%= link_to foods_path do %>
        <span class="icon-spoon-knife"></span>
        My Foods
    <% end %>
</div>

<%= render 'form' %>
