<h1><i class="fa fa-cutlery"></i> Editing Food</h1>

<div class="page-meta">
    <%= link_to @food do %>
        <i class="fa fa-eye"></i>
        View Food
    <% end %>
    <%= link_to foods_path do %>
        <i class="fa fa-cutlery"></i>
        My Foods
    <% end %>
</div>

<%= render 'form' %>
