<% provide(:title, "New Food") %>

<%= render partial: "shared/app_menu" %>

<h1><i class="fa fa-cutlery"></i> New Food</h1>

<p>Add new foods and ingredients to add to your food log and to incorporate into your recipes.</p>

<%= render 'form' %>
