<% provide(:title, "New Food") %>

<%= render partial: "shared/app_menu" %>

<div class="breadcrumbs">
  <div class="section-inside">
    <ul>
      <li><%= link_to "Foods", foods_path %></li>
      <li>New</li>
    </ul>
  </div>
</div>

<div class="section-inside">

  <h1><i class="fa fa-cutlery"></i> New Food</h1>

  <p>Add new foods and ingredients to add to your food log and to incorporate into your recipes.</p>

  <%= render 'form' %>

</div>