<% provide(:title, "Search Foods") %>

<%= render partial: "shared/app_menu" %>

<div class="breadcrumbs">
  <ul>
    <li><%= link_to "Foods", foods_path %></li>
    <li><%= link_to "Search", food_search_path %></li>
  </ul>
</div>

<h1><i class="fa fa-cutlery"></i> Search Foods</h1>

<p>Find foods to add directly to your food log.</p>

<%= render 'search_form' %>
