<h1>Food Log</h1>

<table>
	<tr>
		<th>Description</th>
		<th>Calories</th>
		<th>Fat</th>
		<th>Carbs</th>
		<th>Protein</th>
		<th colspan="2"></th>
	</tr>

	<%= render @foodentries %>
</table>

<%= render 'form' %>
