<h1>Food Log</h1>

<div class="foodlog table">
	<div class="row header">
		<div class="col long">Description</div>
		<div class="col short">Calories</div>
		<div class="col short">Fat</div>
		<div class="col short">Carbs</div>
		<div class="col short">Protein</div>
		<div class="col long"></div>
	</div>
	<%= render @foodentries %>
	<% @foodentry = @newfoodentry %>
	<%= render @foodentry %>
</table>
