.card-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $spacing-large;
  .card {
    width: 100%;
    max-width: 460px;
    @include mqAfterSize($desktop-breakpoint / 1.5) {
      max-width: none;
      width: calc(50% - (#{$spacing-normal} / 2));
    }
  }
}

.card, .card-colorful {
  width: 460px;
  max-width: 100%;
  background: $white;
  position: relative;
  @include height(1);
  margin-bottom: $spacing-normal;
  padding: $spacing-normal;
  font-size: $font-size-normal;
}

.card-colorful {
  background: $color-primary;
}

.card-top-meta {
  position: absolute;
  right: $spacing-tiny;
  top: $spacing-tiny;
  margin: 0;
  padding: 0;
  z-index: $layer-base + 10;
}

.card-top-meta + .card-header {
  padding-right: $spacing-large;
}

.card-header {
  margin: -#{$spacing-normal};
  padding: $spacing-normal;
  padding-bottom: $spacing-large;
  margin-bottom: $spacing-normal;
  background: #e5e5e5;
  position: relative;
  z-index: $layer-base;
  &:after {
    display: block;
    width: 0;
    height: 0;
    content: " ";
    border: $spacing-normal solid transparent;
    border-top: 0;
    border-bottom-color: $white;
    position: absolute;
    bottom: 0;
    left: $spacing-normal;
  }
}

.card-title {
  font-size: $font-size-normal;
  font-weight: 800;
  margin: 0;
}

.card-subtitle {
  font-size: $font-size-small;
  font-weight: 400;
  margin: $spacing-tiny 0 0;
  color: rgba($black, .75);
}

.card-colorful .card-header {
  color: $white;
  padding: $spacing-small;
  a {
    color: $white;
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}

.card-body {
  padding: 0;
}

.card-colorful .card-body {
  padding: $spacing-small;
  background: $white;
}