// A small 3-part grid I use for various things

.grid {
  display: block;
  margin-bottom: $spacing-normal;
  &:last-child {
    margin-bottom: 0;
  }
  .row {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    margin-bottom: $spacing-normal;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .col {
    display: block;
    width: calc(33.33333% - (#{$spacing-normal} * 2));
  }
  .col.double {
    width: calc(66.66666% - (#{$spacing-normal} * 2));
  }
  .col.full {
    width: 100%;
  }
  .col.half {
    width: calc(50% - #{$spacing-normal});
  }
}