header {
    background: $black;
    color: $white;
    padding: .5rem 1rem;
    font-size: 0;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-large;
}

header .brand, header nav {
    width:50%;
    font-size: 1;
}

.site-title {
    margin: .25rem 0 0;
    a {
        display: block;
        color: $color-primary;
        text-indent: -999px;
        width: 50%;
        height: 50px;
        background: asset_url('logo-heart.svg') top left no-repeat;
        background-size:contain;
    }
}

.site-subtitle {
    display: none;
}
