.progress-bar {
  overflow: hidden;
  width: 100%;
  height: $spacing-large;
  @include height(-2);
  border-radius: 3px;
  position: relative;
  .container, .progress {
    height: 100%;
    background: rgba($black, .1);
  }
  .progress {
    width: auto;
    background: rgba($color-primary-light, .75);
  }
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: $font-size-huge;
    display:  flex;
    justify-content: center;
    .total:before {
      content: "/";
      color: rgba($white, .25);
    }
  }
}

.turbolinks-loading {
  position: fixed;
  z-index: 99999;
  background: rgba($black, .5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
  color: $white;
  display: none;
  h1 {
    @include screenReaderText();
  }
  .fa {
    color: $white;
    font-size: 7rem;
  }
  .turbolinks-loading-panel {
    display: inline-block;
    background: $color-primary-light;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: $spacing-normal $spacing-large;
  }
  &.on {
    display: flex;
  }
}
