.error-explanation {
    color: $red;
    padding: 1rem 0 1rem 1rem;
    margin: 2rem 0;
    font-weight: bold;
    font-size: .8rem;
    border-left: 5px solid $red;
    li {
        line-height: 1rem;
    }
    .app-form & {
      margin: -1.05rem -1rem .995rem;
      background: darken($red, 10);
      border: none;
      color: $white;
      text-align: left;
      padding-left: 0;
    }
}

.alert {
    color: $white;
    border: 1px solid rgba($black, .15);
    border-right: 0;
    font-weight: 500;
    font-size: .8rem;
    max-width: 320px;
    padding: 1rem;
    opacity: 0;
    animation: blinkFadeOut 5s 0s 1 forwards normal;
    position: fixed;
    top: 5rem;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    border: 1px solid rgba($black, .25);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    &.error {
        background: $red;
    }
    &.success {
        background: $green;
    }
}

.errors {
  margin: 1rem auto;
  width: 640px;
  .error {
    background: $red;
    color: $white;
    padding: .5rem;
    border: 1px solid rgba($black, .25);
    @include height(1);
  }
  .connectivity {
    background: $yellow;
    color: $black;
    a {
      color: $black;
    }
  }
  a {
    color: $white;
    text-decoration: underline;
    font-weight: bold;
  }
}