.page-meta {
    font-size: $font-size-small;
    margin: 0 0 $spacing-large;
    position: relative;
    z-index: $layer-base + 20;
    h1 + & {
        margin-top: -$spacing-small;
    }
    a {
        display: inline-block;
        margin: 0 $spacing-tiny $spacing-small 0;
        padding: $spacing-tiny;
        color: rgba($black, .5);
        border-bottom: 3px solid transparent;
        &:hover {
            color: $black;
            border-color: $black;
        }
    }
    .btn {
        color: $white;
        padding: $spacing-small;
        border: none;
        background: $black-light;
        font-size: $font-size-small;
        &:hover {
            color: $white;
            background: $color-primary;
        }
    }
}

.page-meta.btn-bar {
    align-items: flex-end;
}

.pagination {
    .previous {
        float: left;
    }
    .next {
        float: right;
    }
}