/*doc
---
title: w8mngr Styleguide
name: styleguide
category: basics
---
Welcome to the w8mngr.com styleguide.
*/

.codeExample {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: $spacing-large;
  pre {
    overflow-x: auto;
    font-family: monospace;
    font-size: $font-size-small;
    @include height(-3);
  }
}

.exampleOutput, .codeBlock {
  width: 50%;
}

.exampleOutput {
  order: 2;
  margin: 0 $spacing-small;
}

.codeBlock {
  order: 1;
}