.data-table {
  margin-bottom: $spacing-large;
  thead th, tfoot th {
    font-weight: bold;
    color: rgba($black, .75);
    border-bottom: 3px solid rgba($black, .75);
    background: rgba($black, .025);
    text-transform: uppercase;
    font-size: $font-size-small;
  }
  td,th {
    padding: .75rem;
  }
  tr:hover td {
    background: rgba($black, .025);
  }
  tbody td {
    font-size: $font-size-small;
  }
  tfoot td {
    font-weight: bold;
  }
}

.table {
  display: block;
  .row {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
  }
  .col {
    display: block;
    overflow: visible;
  }
}