<div class="work">
  <%= label_tag :work, "Distance", class: "screen-reader-text", title: "In any human-readable distance" %>
  <%= text_field_tag :work,
        ((defined? entry) ?
          # Convert our MM's (which is how we save our distances) to the unit
          # the user provides
          ( Unit.new(entry.work.to_s + "mm").convert_to(entry.user.unit(:distance)) ) :
          ""
        ),
        placeholder: "Distance, e.g., 12 miles, 3000 steps, 2km" %>
</div>

<% if defined? entry %>
<div class="when">
  <span class="calories" title="Estimated Calories Burned">
    <span class="screen-reader-text">Estimated Calories Burned:</span>
    <%= entry.calories %> calories
  </span>
  &bull;
  <%= time_ago_in_words(entry.created_at) %> ago
</div>
<% end %>