<div class="work col">
  <%= ChronicDuration.output(entry.work, :format => :long) %>
</div>

<div class="when col">
  <span class="calories" title="Estimated Calories Burned">
    <span class="screen-reader-text">Estimated Calories Burned:</span>
    <%= entry.calories %> calories
  </span>
  <br>
  <%= time_ago_in_words(entry.created_at) %> ago
</div>