.muscle-groups {
  position: relative;
  padding: .5rem 1rem;
  max-width: 100%;
  background: $white;
  @include height(1);
  overflow: hidden;
  margin-bottom: 2rem;
  h3 {
    margin: .5rem 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  label {
    width: 50px;
    display: block;
    margin-bottom: .5rem;
    cursor: pointer;
    font-size: .9rem;
    opacity: .75;
    position: relative;
    z-index: 50;
    border-left: 5px solid transparent;
    padding-left: 6px;
    margin-left: -11px;
    font-weight: 400;
    text-transform: capitalize;
    &:hover, &.hover {
      opacity: 1;
      border-color: rgba($black, .75);
    }
  }
  input:checked + label {
    opacity: 1;
    font-weight: bold;
    color: $color-primary;
  }
  svg {
    position: absolute;
    right: -15vw;
    overflow: visible;
    width: 100%;
    height: auto;
    max-height: 27rem;
    bottom: 1rem;
  }
  svg g[id] path {
    opacity: .2;
    transition: opacity .25s ease-in-out;
  }
  svg g g[id]:hover path {
    cursor: pointer;
    opacity: .5;
    fill: $color-primary !important;
  }
  .muscles-helper {
    display: none;
  }
  $groups: obliques, abs, quads, biceps, adductors, pectorals, deltoids, hamstrings, quads, forearms, calves, triceps, glutes, lats, trapezius;
  @each $muscle in $groups {
    $upper: to-upper-case(str-slice($muscle, 1, 1)) + str-slice($muscle, 2);
    label[for="activity_muscle_groups_#{$muscle}"]:hover ~ svg ##{$upper} path {
      opacity: .75;
    }
    #activity_muscle_groups_#{$muscle}:checked ~ svg ##{$upper} path {
      opacity: .8;
      fill: $color-primary !important;
    }
  }
  @include mqBeforeSize(470px) {
    svg {
      right: auto;
      left: 80px;
      width: calc(100% - 80px - 2rem);
    }
  }
}

.muscle-groups.show {
  @include mqAfterSize($desktop-breakpoint * .75) {
    float: right;
    min-width: 320px;
    max-width: 30%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  label {
    display: none;
    width: 0;
    height: 0;
  }
  input:checked + label {
   display: inline-block;
   width: auto;
   height: auto;
   cursor: default;
   border: 0;
   margin: 0 0 .25rem 0;
   padding: 0;
  }
  input:checked + label ~ input:checked + label {
    margin-left: -.25rem;
    &:before {
      content: ", ";
    }
  }
  svg g g[id]:hover path {
    cursor: default;
    opacity: .1;
  }
  svg {
    margin: 2rem 0 1rem;
    padding: 0;
    position: static;
    display: block;
    width: auto;
    height: auto;
  }
}

.muscle-groups-list {
  margin: 0 -.5rem -.75rem;
  .pill-list {
    justify-content: flex-end;
  }
  // This is in the markup for screen readers
  h3 {
    display: none;
  }
}

.activity .type {
  font-weight: bold;
  font-size: .75rem;
  @include mqAfterSize($desktop-breakpoint) {
    margin-top: -2rem;
  }
}

.activity.card {
  min-height: 7rem;
  .type {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 400;
    opacity: .5;
  }
  .pill-list {
    justify-content: flex-start;
  }
  .log-activity-btn {
    margin: 0;
  }
  .muscle-groups-list {
    margin: 0 0 1rem;
  }
}

@include mqAfterSize($desktop-breakpoint) {
  .activity.card {
    margin-right: 1rem;
    vertical-align: top;
  }
}
.activity.medium {
  margin: 0 -1rem;
  padding: 0 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @include mqAfterSize($desktop-breakpoint) {
    flex-wrap: nowrap;
  }
  input[type=text], input[type=number] {
    min-width: 0;
    width: 100%;
  }
  .muscle-groups {
    float: right;
    background: transparent;
    box-shadow: none;
    min-width: 80px;
    width: 120px;
    max-width: 35%;
    margin: 0;
    svg { margin: 0; padding: 0; }
    @include mqAfterSize($desktop-breakpoint) {
      float: left;
    }
  }
  .type {
    margin: -1rem 0 0;
    opacity: .5;
    font-weight: 400;
  }
  + .activity.medium {
    margin-top: 1rem;
    border-top: 1px solid rgba($black, .1);
    padding: 1rem 1rem 0;
  }
  h3 {
    margin: 0 0 1rem;
  }
  .log-activity-btn {
    position: static;
    float: none;
    margin: 1rem 0;
    display: inline-block;
  }
  .activity-entries {
    width: 100%;
    margin: 1rem 0 0;
    h4 {
      margin: 0 0 .5rem;
    }
    &.today {
      background: $color-primary-light;
      color: $white;
      padding: .75rem;
      border-radius: 3px;
      @include height(1);
      input, .meta-btn, .delete-btn {
        color: $white;
        background: transparent;
      }
    }
    @include mqAfterSize($desktop-breakpoint) {
      width: 40%;
      margin: 0;
    }
  }
}

.activity-general-info {
  width: 100%;
  @include mqAfterSize($desktop-breakpoint) {
    width: 60%;
  }
}

.helper-input + .activity-filters .filters-panel {
  max-height: 1px;
  min-height: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
}

.helper-input:checked + .activity-filters .filters-panel {
  max-height: 35rem;
  opacity: 1;
  z-index: 50;
  transition: opacity .25s ease-in-out;
}

.activity-filters {
  position: relative;
  margin: -4rem 0 2rem;
  float: right;
  display: inline-block;
  overflow: visible;
  text-align: right;
  z-index: 3;
  > label {
    cursor: pointer;
    opacity: .5;
    &:hover, &:focus {
      opacity: 1;
    }
  }
  .filters-panel {
    position: absolute;
    right: -1rem;
    top: 100%;
    background: $white;
    border-radius: 3px;
    padding: 1rem;
    z-index: 50;
    text-align: left;
    width: 50vw;
    min-height: 200px;
    max-width: 640px;
    min-width: 260px;
    @include height(2);
  }
  .meta {
    position: absolute;
    left: .5rem;
    bottom: .5rem;
    cursor: pointer;
    opacity: .5;
    &:hover, &:focus {
      opacity: 1;
      color: $red;
    }
  }
  .muscle-groups {
    background: transparent;
    padding: 0;
    box-shadow: none;
    svg {
      max-height: 15rem;
      right: -5vw;
    }
  }
}
