//  Vue animations

// For our food-log items
.fl-fade-transition {
  transition: all .15s ease;
  opacity: 1;
  max-height: 10rem;
  overflow:hidden;
}

.fl-fade-enter, .fl-fade-leave {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
}

.ac-fade-transition {
  opacity: 1;
  transform: translateY(0);
  transition: transform .15s ease-in-out,
              opacity .15s ease-in-out;
}

.ac-fade-enter, .ac-fade-leave {
  opacity: 0;
  transform: translateY(-7rem);
}

// For the home page elements

@keyframes slideInLeft {
    0% {
        text-indent: -50%;
        opacity: 0;
    }
    100% {
        text-indent: 0;
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        text-indent: 50%;
        opacity: 0;
    }
    100% {
        text-indent: 0;
        opacity: 1;
    }
}

@keyframes pulsateSecondaryColor {
    0% {
        box-shadow: 0 0 0 1px rgba($color-secondary, .75);
    }
    100% {
        box-shadow: 0 0 0 15px rgba($color-secondary, 0);
    }
}


// Best for about 3-4 seconds of animation
@keyframes blinkFadeOut {
    5% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
        visibility: hidden;
    }
}
