.btn {
    float:right;
    border: 0;
    font-family: $font-stack;
    cursor: pointer;
    background: $color-primary;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: rgba(255,255,255,.75);
    outline: none;
    font-size: 1rem;
    padding:1rem;
    font-weight: 200;
    text-align:center;
    min-width: 7.5rem;
    .fa {
        margin-right: .75rem;
        line-height: 1em;
    }
    &:hover {
        margin-bottom:-5px;
        color: #fff;
        text-decoration: none;
        border-bottom: 2px solid darken($color-primary, 10%);
        margin-bottom: -2px;
    }
    &:active {
        cursor: pointer;
        margin-bottom: 0;
        border-bottom:0;
        @include height(1);
    }
}

.banner-btn {
    float: none;
    margin-top: 2rem;
    display: inline-block;
    background: $color-secondary;
    text-align: center;
    font-weight: 400;
    font-size:1rem;
    color: $white;
    animation: pulsateSecondaryColor 3s 4s 99 forwards normal;
    width: auto;
    @include height(1);
    &:hover {
        @include height(2);
        border-color: darken($color-secondary, 10%);
        animation: none;
    }
    &:active {
        @include height(3);
    }
}

.meta-btn, .delete-btn {
    float: none;
    padding: .75rem 0;
    font-size: 1rem;
    background: transparent;
    text-decoration: none;
    color: lighten($black, 50%);
    cursor: pointer;
    &:hover {
        color: $black;
        border: none;
    }
    &:active {
        box-shadow: none;
        transform: translate(1px, 1px);
    }
}
.delete-btn:hover {
    color: $red;
    margin-bottom:0;
}

.food-log-new-btn {
    float: none;
    margin-top: 1rem;
    width: auto;
    padding: .5rem;
    background-color: $color-primary-light;
    color: rgba($white, .75);
    line-height: 1rem;
    @include height(1);
    &:hover {
        border: none;
        margin-bottom: 0;
        color: $white;
        @include height(2);
    }
    &:active {
        @include height(-1);
        cursor: pointer;
    }
    strong {
        font-weight: bold;
        font-size: .8rem;
        text-transform: uppercase;
    }
    i {
        margin-top: .2rem;
    }
}

.search-btn, .barcode-btn {
    float: none;
    min-width: 0;
    border: none;
    margin: 0;
    overflow:hidden;
    padding: 0;
    &:hover {
        border: none;
        box-shadow:none;
    }
    &:active {
        box-shadow:none;
    }
}

.prev-btn, .next-btn {
    min-width: 0;
    float: none;
    font-size:.9rem;
    padding: .75rem;
    text-align: left;
}
.next-btn {
    text-align: right;
    .fa {
        margin: 0 0 0 .75rem;
    }
}
