.card {
  position: relative;
  display:inline-block;
  max-width: 100%;
  width: 460px;
  margin-bottom: 1rem;
  padding: 1rem;
  background: $white;
  @include height(1);
  @include mqAfterSize($desktop-breakpoint) {
    width: calc(480px - 1rem);
  }
  &:hover {
    @include height(2);
  }
  .meta {
    position: absolute;
    right: .25rem;
    top: .15rem;
  }
  .header {
    background: linear-gradient(25deg, darken($color-primary, 7.5), $color-primary);
    margin: -1rem -1rem 1rem;
    padding: 1.5rem 1rem;
    color: $white;
    h2 {
      margin: 0 0 1rem;
      padding: 0;
      color: $white;
      a {
        color: $white;
        opacity: .75;
        &:hover {
          opacity: 1;
        }
      }
    }
    p:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  hr {
    border-style: solid;
    margin: .75rem -1rem;
  }
  .card-footer {
    margin: 0 -1rem;
    border-top: 1px solid rgba($black, .25);
    padding: 1rem 1rem .5rem;
  }
}
