.week-review-table {
  width: 100%;
  .day {
    font-weight: bold;
    a {
      color: $black;
      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}

.dashboard-wrapper .loading {
  display:none;
}
.dashboard-wrapper.loading .loading {
  display: block;
}

@include mqAfterSize(1315px) {
  .dashboard #main .section-inside {
    max-width: 940px;
  }
  .dashboard .app-menu-box{
    width: 840px;
  }
}

.dashboard .stats-and-review {
  margin-top: 2rem;
  width: 100%;
  max-width: 100%;
  .week-review, .macros {
    display: inline-block;
    vertical-align: top;
  }
  .week-review {
    width: 100%;
    .data-table td, th {
      padding: .5rem;
    }
    @include mqBeforeSize(460px) {
      .data-table td, th {
        padding: .35rem;
      }
    }
  }
  .macros {
    width: 100%;
  }
  @include mqAfterSize(690px) {
    .week-review {
      width: 60%;
      margin: 0;
    }
    .macros {
      width: 39%;
      padding-left:2rem;
    }
  }
  @include mqAfterSize(1315px) {
    .week-review {
      margin: 0;
    }
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    .week-review, .macros {
      width: 50%;
    }
    .week-review .data-table td, th {
      padding: .75rem;
    }
  }
}

.user-stats {
  width: 100%;
  max-width: none;
  border-bottom: 2px solid $color-primary;
  margin-bottom: 1rem;
  @include mqAfterSize(690px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first {
      text-align: center;
    }
    .tdee {
      text-align: right;
    }
    .first, .tdee {
      margin-top: 0;
    }
  }
  .card-footer {
    margin-top: 1rem;
  }
  .min-max, .time-ago {
    font-size: .8rem;
    color: rgba($black, .75);
  }
  .first, .tdee {
    margin-top: .5rem;
  }
}