.food-form {

}

.foods-table {
	width: 100%;
	th {
		font-weight: bold;
		text-transform: uppercase;
		font-size: .75rem;
	}
	h2 {
		margin: 0 0 .5rem;
		font-size: 1.6rem;
		.icon-pencil {
			position: absolute;
			margin: .5rem 0 0 -1.25rem;
			font-size: .75rem;
			opacity: .8;
		}
	}
	tbody tr td {
		padding: 1rem .5rem;
		border-bottom: 1px solid #eee;
	}

	tbody tr:nth-child(even) td {
		border-bottom-color: #ccc;
	}

	td, th {
		text-align: center;
	}

	td.long {
		text-align: left;
	}
}

.measurement-box {
	background: rgba($color-primary, .1);
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 2rem;
	border: 3px solid $color-primary;
	border-left:0;
	border-right: 0;
	input:last-child {
		margin-bottom: 0;
	}
}