.foods-table {
	width: 100%;
	h2 {
		padding-left: 1rem;
		margin: 0;
		font-size: 1rem;
		position: relative;
		.icon-pencil {
			position: absolute;
			left: -.15rem;
			top: .25rem;
			font-size: .75rem;
			opacity: .8;
		}
	}
	.row {
		display: block;
		font-size: 0;
		border-bottom: 1px solid rgba($black, .025);
		border-top: 1px solid rgba($black, .05);
	}
	.col {
		vertical-align: middle;
		display: inline-block;
		font-size: 1rem;
		padding: 1rem .5rem;
	}
	.long {
		text-align: left;
		width: 90%;
		max-width: 90%;
	}
	.meta {
		text-align: right;
		width: 10%;
		max-width: 10%;
	}
	.long p {
		margin: 0 0 0 2.5rem;
		font-size: .8rem;
		opacity: .75;
	}
}

.foods-measurement-delete {
	position: relative;
	margin-bottom: -2rem;
	top: -.5rem;
	float: right;
	z-index: 99;
	input {
		display:none;
	}
	label {
		font-family: 'icomoon';
	    cursor: pointer;
	    font-size:.6rem;
		color: $white;
		display:inline-block;
		width: 1.5rem;
		height: 1.5rem;
		line-height: 1.5rem;
		vertical-align: bottom;
		border-radius: 50%;
		background: $color-primary-light;
		text-align: center;
	}
	label:before {
		content: "\ea0f";
	}
	input:checked + label {
		background: $red;
	}
}

.measurement-box {
	background: $color-primary;
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 2rem;
	padding-left: 6rem;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	color: $white;
	label, .label {
		display: block;
		color: $white;
		position: absolute;
		left: .5rem;
		padding-top: .75rem;
		text-align: right;
		width: 5rem;
		&::after {
			content: ": ";
		}
	}
	::-webkit-input-placeholder {
		color: rgba($white, .5);
		font-size: .6em;
		font-weight: 700;
		text-transform: uppercase;
	}
	input {
		color: $white;
		background: transparent;
		border: none;
		border-bottom: 1px solid rgba($white, .25);
		border-radius: 0;
		margin-bottom: 3px;
		&:-ms-input-placeholder,&:-moz-placeholder{
			color: rgba($white, .75);
			font-size: .6em;
			font-weight: 700;
			text-transform: uppercase;
		}
		&:hover {
			border-color: rgba($white, .5);
		}
		&:focus {
			background: transparent;
			border-color: rgba($white, .75);
			color: $white;
		}
	}
	input:last-child {
		margin-bottom: 0;
	}
	@include mqAfterSize(540px) {
		display: table;
		width: 100%;
		padding-left: 1rem;
		.col {
			display: inline-block;
			max-width: 16.666%;
			vertical-align: top;
		}
		label, .label {
			text-align: left;
			position: static;
			padding:0;
			&::after {
				content: "";
			}
		}
	}
}

.measurement-box.in-transition {
	position: relative;
	margin: 0 0 2rem;
	padding-top: 2.5rem;
	.label {
		padding-top: 0;
	}
	.col {
		padding: .5rem 0;
	}
	.unit {
		position: absolute;
		left: 0;
		top: .5rem;
		width: 100%;
		max-width: 100%;
		font-weight: 200;
		text-align: center;
		font-size: 1.4rem;
	}
	@include mqAfterSize(540px) {
		padding: .5rem;
		.unit {
			position: static;
			width: 16.667%;
			text-align: left;
			padding-top: 1.5rem;
		}
		.col, .label {
			text-align: center;
		}
		.label {
			margin-bottom: 1rem;
		}
	}
	.food-log-new-btn {
		font-size: .75rem;
		position: absolute;
		right: 1rem;
		bottom: 1rem;
		@include mqBetweenSizes(540px, 788px) {
			border-radius: 50%;
			width: 2rem;
			height: 2rem;
			right: -.25rem;
			bottom: -.25rem;
			padding-top: .55rem;
			span {
				margin: 0;
			}
			.btn-text {
				display: none;
			}
		}
	}
}

.food-search-form {
    margin: 1rem 0;
    padding: 0;
	position: relative;
	input[type=text] {
		font-size: 2rem;
		padding-right: 3.25rem;
		margin-bottom: 0;
	}
	.search-btn {
		padding-right: .5rem;
		position: absolute;
		top: .5rem;
		right: -.5rem;
		font-size: 2.5rem;
		width: auto;
		background: transparent;
		color: rgba($black, .25);
		&:hover {
			color: rgba($black, .75);
		}
	}
}

.search-result, .foods-table {
	.measurement {
		margin: 0;
		opacity: .75;
		font-size: .6rem;
		line-height: .75rem;
	}
}
.foods-table p.measurement {
	margin: .5rem 0 0 1rem;
}

.search-result {
	margin:0;
	padding: 1rem 1rem 1rem 3rem;
	border-bottom: 1px solid rgba($black, .1);
	h2 {
		font-size: 1.2rem;
		margin: 0;
		padding: 0;
		position: relative;
		font-weight: 400;
		a::before {
			top: .25rem;
			font-size: .75rem;
			font-family: icomoon;
			position: absolute;
			left: -2rem;
			content: "\ea0a";
			opacity: .5;
		}
		a:hover::before {
			opacity: 1;
		}
		span {
			position: absolute;
			left: -2rem;
			top: 1.5rem;
		}
	}
	&:nth-child(odd) {
		background: rgba($black, .035);
	}
	&:hover {
		background: $color-primary;
		color: $white;
		box-shadow: 0 0 5px rgba(0,0,0,.5);
		h2 a {
			color: $white;
			&:hover {
				color: $white;
			}
		}
	}
}

.search-results-information {
	font-size: .8rem;
	color: rgba($black, .35);
	font-weight: bold;
	margin: 0 -1rem 2rem;
	border-left: 1rem solid rgba($black, .05);
	padding: 1rem 2rem 1rem 1rem
}
