.foodlog-table {
	width:100%;
	.row.header {
		display: none;
		@include mqAfterSize(640px) {
			display: block;
			font-weight:bold;
			font-size: .8rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
			overflow: visible;
			opacity:.25;
			transition: opacity .15s ease-in-out;
			.col {
				transform: translate(.5rem, 0) rotate(-45deg);
				overflow: visible;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.row {
		display:block;
		overflow:hidden;
		font-size: 0;
	}
	.col {
		font-size: 1rem;
		display:inline-block;
		width:25%;
		max-width:25%;
		overflow:hidden;
		white-space:nowrap;
		vertical-align: top;
		@include mqAfterSize(640px) {
			width:10%;
			max-width:10%;
		}
	}
	.entry {
		position: relative;
		padding-right: 3rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgba($black, .1);
		input:focus {
			font-weight: bolder;
		}
		.long {
			width:100%;
			max-width:100%;
			input[type=text] {
				font-size: .9rem;
				padding:0;
				border-color: transparent;
				&:hover {
					border-bottom-color: rgba($black, .25);
				}
				&:focus {
					border-bottom-color: $black;
				}
			}
			@include mqAfterSize(640px) {
				width:40%;
				max-width:40%;
				input[type=text] {
					border-bottom-color: rgba($black, .1);
				}
			}
		}
		.col.short {
			position: relative;
			input[type=text] {
				background: transparent;
				position: relative;
				z-index: 2;
				padding-bottom: .75rem;
			}
			&::after {
				font-size: .6rem;
				content: attr(title);
				text-transform: uppercase;
				font-weight: 800;
				color: rgba($black, .25);
				position: absolute;
				bottom: 7px;
				left: 0;
				z-index: 1;
			}
		}
		.meta {
			font-size: .6rem;
			position: absolute;
			top: 2rem;
			right: 0;
			width: 2rem;
			height: 2rem;
			opacity: .25;
			transition: opacity .15s ease-in-out;
			text-align: right;
			width:20%;
			max-width:20%;
			.delete-btn {
				font-size: .9rem;
			}
			.save {
				display: none;
			}
		}
		&:hover .meta {
			opacity: 1;
		}
		input[type=text] {
			padding-top: 0;
			font-size: .8rem;
			border-color: transparent;
			@include mqAfterSize(640px) {
				border-bottom-color: rgba($black, .1);
			}
		}
	}
	input[type=text] {
		margin-bottom: .25rem;
		width:100%;
		border-top: 2px solid transparent;
		border-right: 0;
		border-left: 0;
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
		&:hover {
			border-bottom-color: rgba($black, .25);
		}
		&:focus {
			border-bottom: 3px solid $black;
			border-top: 0;
		}
	}
	.totals.row {
		font-weight: bold;
		display:block;
		text-align:center;
		margin: 2rem -1rem;
		padding: 1rem 0;
		background-color: rgba($black,.025);
		border-top:1px solid rgba($black, .03);
		border-bottom:1px solid rgba($black, .03);
		opacity: 1;
		overflow:hidden;
		.col {
			transform: none;
			font-size: .8rem;
			width: 20%;
			&::after {
				display: block;
				font-size: .5rem;
				text-transform: uppercase;
				font-weight: 800;
				color: rgba($black, .75);
				content: attr(title);
				padding: .1rem 0;
			}
		}
		.long {
			text-align: right;
		}
	}
	.new {
		padding: .5rem;
		margin: 2rem 0 0;
		background: $color-primary;
		color: $white;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0,0,0,.5);
		overflow:hidden;
		::-webkit-input-placeholder {
			color: rgba($white, .5);
			font-size: .6em;
			font-weight: 700;
			text-transform: uppercase;
		}
		input {
			background: transparent;
			border-bottom-color: rgba($white, .25);
			color: $white;
			&:-ms-input-placeholder,&:-moz-placeholder{
				color: rgba($white, .75);
			}
			&:hover {
				border-bottom-color: rgba($white, .5);
			}
			&:focus {
				border-bottom-color: rgba($white, .75);
			}
		}
		.col.long {
			display:block;
			width: 100%;
			max-width: 100%;
			input {
				font-size: 1.6rem;
			}
			margin-bottom: 1rem;
		}
		.col.short {
			padding-left: 3px;
			width: 25%;
			max-width: 25%;
			&:first-child {
				padding-left: 0;
			}
			input {
				font-size: 1.2rem;
				text-align: center;
			}
		}
		.col.meta {
			overflow: visible;
			display:block;
			width: 100%;
			max-width: 100%;
			text-align:right;
		}
	}
}
