footer {
    min-height: 100vh;
    padding: 1rem 1rem 20vh;
    margin-top: 10rem;
    width: 100%;
    background: $black;
    color: rgba($black, .5);
    color: rgba($white, .75);
    a {
        color: rgba($white, .5);
        border-bottom: 1px solid rgba($white,.05);
        &:hover {
            text-decoration: none;
            color: $white;
            border-color: $white
        }
    }
}
