html {
    font: 16px $font-stack;
    background: #eee;
    color: $black;
    margin: 0;
    padding: 0;
    // Fix for chrome/android font rendering
    max-height: 9999rem;
            text-size-adjust: none;
       -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
}

body {
  // We use this because sometimes we want elements to go to the left or right of
  // of the screen, but we don't really care what's out there (for display purposes).
  // Since this website will never feature horizontal scrolling at the window
  // level, we just remove the ability of the body to scroll horizontally.
  overflow-x: hidden;
}

.screen-reader-text {
    @include screenReaderText();
}

p, li {
    line-height:130%;
    margin: 0 0 $spacing-normal;
}

a {
    color: $color-primary;
    text-decoration: none;
    &:hover {
        color: darken($color-primary, 10%);
    }
}

blockquote {
    margin: $spacing-normal;
    padding: .5rem 0 .5rem 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    border-left: 3px solid rgba($black, .25);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    margin: $spacing-large $spacing-normal;
    border: 0;
    border-top: 1px dotted $black-light;
}

.nojs .hide-if-no-js {
  display: none;
}

.got-it {
  color: $green;
}

.dont-got-it {
  color: $red;
}