.error-explanation {
    color: $red;
    padding: 1rem 0 1rem 1rem;
    margin: 2rem 0;
    font-weight: bold;
    font-size: .8rem;
    border-left: 5px solid $red;
    li {
        line-height: 1rem;
    }
    .foodlog-table & {
        margin: 0 0 2rem;
        color: $white;
        text-align: left;
    }
}

.alert {
    color: $white;
    border: 1px solid rgba($black, .15);
    font-weight: 500;
    font-size: .8rem;
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: blinkFadeOut 5s 0s 1 alternate backwards;
    &.error {
        background: $red;
    }
    &.success {
        background: $green;
    }
}
