nav {
  vertical-align: middle;
    .meta a {
        color: $color-primary-light;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

.nav-toggle {
    display:none;
    @include mqBeforeSize($desktop-breakpoint) {
      &:checked ~ .navigation-options {
        transform: translateX(-330px);
      }
      &:checked ~ .nav-toggle-btn {
          position: fixed;
          color: $white;
          &:after {
              content: "\f0da";
          }
      }
    }
}

.nav-toggle-btn {
    position: absolute;
    z-index: 310;
    font-family: "FontAwesome";
    cursor: pointer;
    font-size:2rem;
    padding:.2rem .5rem;
    color: $white;
    right: 1rem;
    top: 1rem;
    &:hover {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
    }
    &:after {
        content: "\f0c9";
    }
    @include mqAfterSize($desktop-breakpoint) {
      display: none;
    }
}
.welcome.index .navigation-options {
  padding: 1rem
}
.navigation-options {
    background: darken($color-primary, 15);
    background: linear-gradient(-25deg, darken($color-primary, 5), $color-primary);
    padding: 1rem;
    border-top-right-radius: 0;
    width: 320px;
    position: fixed;
    z-index: 300;
    top: 0;
    right: -330px;
    transition: transform .5s $easing-1;
    box-shadow: 0 0 15px 0 rgba(black, .75);
    height: 100vh;
    @include mqAfterSize($desktop-breakpoint) {
      width: calc(100vw - (200px + 3rem));
      position: static;
      right: auto;
      top: auto;
      background: transparent;
      float: right;
      box-shadow: none;
      height: auto;
      margin: 0;
      padding: 0;
    }
}
.navigation-title {
    font-size: .9rem;
    text-transform:uppercase;
    margin:0 0 1rem;
    font-weight: 800;
    @include mqAfterSize($desktop-breakpoint) {
      display: none;
    }
}
.navigation-list {
    list-style-type: none;
    padding:0;
    font-weight:500;
    font-size: .7rem;
    position: relative;
    z-index: 300;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    @include mqAfterSize($desktop-breakpoint) {
      display: flex;
      justify-content: flex-end;
      li {
        margin: 0;
        padding: 0;
        + li {
          margin-left: .5rem;
        }
      }
    }
    li > a {
        display: block;
        color: rgba($white, .75);
        font-weight: bold;
        padding: .5rem;
        border-radius: 3px;
        &:hover {
            background: $color-primary;
            color: $white;
            text-decoration:none;
        }
    }
    .sep {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px dashed rgba($white, .5);
        @include mqAfterSize($desktop-breakpoint) {
          cursor: pointer;
          border: 0;
          position: relative;
          margin: 0;
          padding: 0;
          margin-left: .5rem;
          &.login ul {
            padding: 1rem;
            width: 300px;
            a {
              color: lighten($color-primary, 15);
              &:hover {
                color: $white;
                background: transparent;
              }
            }
          }
          ul {
            display: none;
            margin: 0;
            padding: 0;
            list-style-type: none;
            min-width: 200px;
            li {
              padding: 0;
              margin: 0;
              &:first-child a {
                border-top-left-radius: 5px;
              }
              &:last-child a {
                border-radius: 5px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
              }
            }
            a {
              background: $color-primary;
              border-radius: 0;
              &:hover {
                background: lighten($color-primary, 15);
              }
            }
          }
          &:hover {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background: $color-primary;
          }
          &:hover ul {
            border-radius: 5px;
            border-top-right-radius: 0;
            @include height(2);
            position: absolute;
            display: block;
            right: 0;
            top: 99%;
            background: $color-primary;
          }
          h2 {
            margin: 0;
            font-size: 100%;
            font-weight: 400;
            padding: .5rem;
            color: rgba($white, .75);
            font-weight: bold;
            background: rgba($white, .05);
            border-radius: 3px;
            .fa {
              opacity: 1;
              font-size: 100%;
            }
          }
        }
    }
}

nav .login {
    input[type="text"], input[type="email"], input[type="password"] {
        margin-bottom: .5rem;
        font-size: 1rem;
    }
    .btn {
        background: $black;
        margin-bottom: 0;
        font-size: 1rem;
        float: right;
        width: auto;
        padding: .5rem;
        &:hover {
            background-color: lighten($black, 15);
        }
        &:active {
            margin-bottom: 0;
        }
    }
    label {
        display: none;
    }
}

.day-navigator {
    padding: 1rem 0;
    text-align: center;
    background: $color-primary;
    margin: 0 -1rem;
    @include mqAfterSize($desktop-breakpoint) {
      max-width: none;
      margin: 0;
      margin-left: calc(200px - 1rem);
      margin-right: -1rem;
    }
    a {
        display: inline-block;
        font-size: 1.2rem;
        color: $white;
        &:hover {
            color: $color-primary-light;
            text-decoration: none;
        }
    }
}
.current-day {
    font-size: .8rem;
    padding: 0 1rem;
    line-height: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
    color: $white;
}

.app-menu-box {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    @include mqAfterSize($desktop-breakpoint) {
      position: absolute;
      right: auto;
      top: 0;
      width: 200px;
      padding: 0;
      background: $white;
      @include height(1);
    }
    ul {
        font-size: 0;
    }
    li {
        font-size: .8rem;
    }
    ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.app-menu-base {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 110;
    @include mqAfterSize($desktop-breakpoint) {
      display: block;
    }
    li {
        flex-grow: 1;
        vertical-align: middle;
        text-align: center;
    }
    input[type=radio] {
        display: none;
        &:checked {
            + label {
              @include mqBeforeSize($desktop-breakpoint) {
                background: lighten($black, 5);
                color: $white;
                + .app-menu-sub {
                    transform: translateY(-3rem);
                }
              }
            }
        }
    }
    label {
      background: $black;
      position: relative;
      z-index: 110;
      color: rgba($white, .5);
      font-size: 1rem;
      display: block;
      height: 2.5rem;
      line-height: 2.5rem;
      width: 100%;
      vertical-align: middle;
      cursor: pointer;
      margin: 0;
      &:hover {
        color: rgba($white, .75);
      }
      @include mqAfterSize($desktop-breakpoint) {
        text-align: left;
        font-size: 1.5rem;
        line-height: 1rem;
        height: auto;
        padding: .5rem;
        background: lighten($black, 15);
        color: rgba($white, .75);
        text-transform: none;
        font-weight: 100;
        border-top: 1px solid rgba($white, .25);
        border-bottom: 1px solid rgba($black, .5);
        &:hover {
          cursor: default;
        }
        .screen-reader-text {
          display: inline;
          visibility: visible;
          font-size: .8rem;
          vertical-align: middle;
        }
        .fa {
          width: 1.5rem;
        }
      }
    }
}

.app-menu-sub {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: -.5rem;
    transition: transform .5s cubic-bezier(0,.98,.8,.99);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    @include mqAfterSize($desktop-breakpoint) {
      position: static;
      display: block;
      max-height: none;
    }
    li {
        flex-grow: 1;
        vertical-align: middle;
        text-align: center;
        @include mqAfterSize($desktop-breakpoint) {
          + li a {
            border-top: 1px solid rgba($black, .05);
          }
        }
    }
    a {
      position: relative;
      z-index: 100;
      text-decoration: none;
      color: rgba($white, .5);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 3rem;
      width: 100%;
      background: lighten($black, 5);
      border-top: 5px solid transparent;
      border-bottom-color: transparent;
      span {
        width: 100%;
        opacity: .5;
        display: block;
        font-size: .65rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: -.2rem;
      }
      &:hover {
          color: rgba($white, .75);
          background: lighten($black, 5);
      }
      .fa {
        width: 100%;
        font-size: 1rem;
      }
      @include mqAfterSize($desktop-breakpoint) {
        height: auto;
        border: 0;
        background: transparent;
        padding: .25rem .5rem;
        color: rgba($black, .75);
        .fa, span {
          width: auto;
          margin: 0;
          display: inline;
          font-size: .8rem;
          text-transform: none;
          opacity: 1;
        }
        .fa {
          width: 2rem;
        }
        &:hover {
          background: rgba($color-primary, .1);
          color: $black;
        }
      }
    }
}
