.routine-form {
  .activities {
    width: 100%;
    max-width: none;
    max-height: 21rem;
    @include mqAfterSize($desktop-breakpoint) {
      margin-left: 2rem;
      margin-bottom: 0;
      width: 400px;
      max-width: 40vw;
    }
    h2 {
      margin: 0 0 1rem;
    }
  }
  .options {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    @include mqAfterSize($desktop-breakpoint) {
      flex-wrap: nowrap;
      margin-bottom: 2rem;
      textarea {
        margin-bottom: 0;
      }
    }
  }
  .description {
    width: 100%;
  }
}

.activity-list {
  min-height: calc(100% - 2.5rem);
  max-height: calc(100% - 2.5rem);
  overflow-y: scroll;
  border-radius: 3px;
  border: 1px solid rgba($black, .1);
  padding: .5rem;
  box-shadow: inset 0 0 3px 0 rgba(black, .1);
  display: flex;
  flex-wrap: wrap;
  .helper-input + label {
    opacity:.5;
    font-weight: 400;
    color: $black;
    cursor: pointer;
    &:hover, &:focus {
      opacity: 1;
      background: $color-primary-light;
      color: $white;
    }
  }
  .helper-input:checked + label {
    opacity: 1;
    color: $color-primary;
    font-weight: bold;
    order: 1;
    &:hover, &:focus {
      color: $white;
    }
  }
  label {
    display: block;
    margin: 0 -.5rem;
    padding: .5rem;
    width: calc(100% + 1rem);
    order: 3;
    transition: all .25s ease-in-out;
  }
  .helper-input + label + .helper-input +  label {
    border-top: 1px solid rgba($black, .05);
  }
}

.routine.card {
  .description {
    font-size: .75rem;
  }
}

.routine-activities {
  padding: 1rem;
  background: $white;
  @include height(1);
  transition: box-shadow .25s ease-in-out;
  &:hover {
    @include height(2);
  }
}

.routine-show .activity-entries {
  background: transparent;
  box-shadow: none;
  font-size: .75rem !important;
  padding: 0;
  input {
    font-size: .75rem !important;
    padding:  .15rem;
  }
  .meta-btn, .delete-btn {
    padding:0;
  }
  .activity-entry {
    padding: 0;
  }
}

.routine.card {
  .activities {
    h3 {
      @include screenReaderText();
    }
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    li {
      padding: 0 .5rem 0 0;
      margin: 0;
    }
    a {
      font-weight: bold;
      font-size: .8rem;
      background: transparent;
    }
  }
}

.routine-show .progress-panel {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  h3 {
    @include screenReaderText();
  }
  .completed, .total {
    width: 50%;
    font-size: 3rem;
    font-weight: 100;
    text-align: right;
  }
  .total {
    text-align: left;
    &:before {
      font-size: 1rem;
      opacity: .5;
      content: "/";
    }
  }
  .progress-bar {
    width: 100%;
  }
  @include mqAfterSize($desktop-breakpoint) {
    float: right;
    max-width: 50%;
    min-width: 160px;
    width: 30%;
  }
  .complete {
    width: 100%;
    text-align: right;
  }
  .complete .fa {
    font-size: 6rem;
    color: $green;
  }
}

.routine-info {
  overflow: auto;
  padding-bottom: 2rem;
  overflow-x: hidden;
  overflow-y: visible;
}