$black: #1F1F1F;
$white: #F7F7F7;
$red: #F63700;
$green: #4DA400;
$yellow: #FFAA00;
$color-primary: #007E80;
$color-primary-light: #00B9BD;
$color-secondary: #F63700;

// My color pallette:  http://www.colourlovers.com/palette/1365151/piccadilly_sparrows

$font-stack: "Roboto", "Helvetica", "Trebuchet MS", "Verdana";

$easing-1: cubic-bezier(0,.95,0,1);

// Ryan's favorite mediaquery mixins!
// I typically use this one because I design mobile-first
@mixin mqAfterSize($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin mqBeforeSize($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin mqBetweenSizes($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin height($height) {
    $inset: null;
    $depth: 0;
    @if $height < 0 {
        $inset: inset;
        $height: $height * -1;
    }
    $x: ($height * 2) + px;
    $y: ($height * 2) + px;
    $depth: ($height * 5) + px;
    box-shadow: $inset $x $y $depth 0 rgba(black, .15);
  }

@import "global",
        "header",
        "nav",
        "buttons",
        "forms",
        "messages",
        "animations",
        "cards",
        "breadcrumbs",
        // Page-specific blocks
        "welcome",
        "users",
        "sessions",
        "food_entries",
        "foods",
        "weight_entries",
        "recipes",


        "footer";
