$black: #1F1F1F;
$black-light: lighten($black, 35);

$white: #F7F7F7;

$red: #FF0000;
$green: #00D800;
$yellow: #FFAA00;

$color-primary: #3492ae;
$color-primary-light: #21C6F5;
$color-primary-white: lighten($color-primary, 50);

$color-secondary: #540BBA;
$color-usda: #555;

$color-nav: darken($color-primary, 20);

$desktop-breakpoint: 960px;

// Our widths for vertical spacing in the document. Also applicable for horizontal
// spacing when it corresponds with vertical spacing
$spacing-tiny:  .25rem;
$spacing-small: .5rem;
$spacing-normal: 1rem;
$spacing-large:  2.5rem;

// For making our font-size look and feel similar everywhere
$font-size-huge:   1.75rem;
$font-size-large:  1.3rem;
$font-size-normal: 1rem;
$font-size-small: .75rem;
$font-size-tiny:  .6rem;

// For z-index ordering
$layer-modal:          1000;
$layer-options-panel:  600;
$layer-app-navigation: 500;
$layer-footer:         400;
$layer-header:         300;
$layer-base:           100;


// My color pallette:  http://www.colourlovers.com/palette/1365151/piccadilly_sparrows

//$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack: "Source Sans Pro", "Roboto", "Helvetica", "Trebuchet MS", "Verdana", sans-serif;

$easing-1: cubic-bezier(0,.95,0,1);

@mixin screenReaderText() {
  position:absolute;
  left: 0;
  top: 0;
  text-indent: -9999rem;
  z-index: -1;
  opacity: .00001;
}

@mixin deScreenReaderText() {
  position: static;
  text-indent: 0;
  opacity: 1;
}

// Ryan's favorite mediaquery mixins!
// I typically use this one because I design mobile-first
@mixin mqAfterSize($width) {
    @media screen and (min-width: $width + 1) {
        @content;
    }
}

@mixin mqBeforeSize($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin mqBetweenSizes($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin height($height) {
    $inset: null;
    $depth: 0;
    @if $height < 0 {
        $inset: inset;
        $height: $height * -1;
    }
    $x: ($height * 2) + px;
    $y: ($height * 2) + px;
    $depth: ($height * 5) + px;
    box-shadow: $inset $x $y $depth 0 rgba(black, .15);
}

@import "global",

        // Components
        "components/*",
        // Page-specific blocks,
        "pages/*",

        // Page-specific blocks
        "welcome",
        "sessions",
        //"food_entries",
        //"foods",
        "weight_entries",
        "dashboard",
        "activities",
        "activity_entries",
        "routines"

        ;
