.weightlog-table {
  display: flex;
  flex-wrap: wrap;
}

.weight-entry {
    position: relative;
    padding-top: 1rem;
    margin: 1rem 0;
    @include mqBeforeSize(320px) {
      + .weight-entry {
          margin-top: 1rem;
      }
    }
    @include mqAfterSize(640px) {
      width: calc(50% - .5rem);
      margin: 0 1rem 1rem 0;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    .weight-container {
      display: flex;
      align-items: center;
    }
    .weight {
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: -.25rem;
        color: lighten($black, 15);
        width: 50%;
    }
    .other-units {
      width: 50%;
      padding-left: 3rem;
      font-size: .8rem;
      opacity: .5;
    }
    &:hover .other-units {
      opacity: .75;
    }
    .unit {
        margin-left: 1rem;
        letter-spacing: 0;
        font-size: .7rem;
        color: rgba($black, .5);
        text-transform:uppercase;
    }
    .delete-btn {
        padding: 0;
        top:.5rem;
        right:.5rem;
    }
    &:hover .delete-btn {
        opacity: 1;
    }
    .added {
        font-size: .75rem;
        color: rgba($black, .5);
        span {
            text-transform: lowercase;
        }
    }
    h5 {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 .5rem;
    }
}

.weightlog-table .average {
    width: 100%;
    margin:2rem 0 1rem;
    text-transform: uppercase;
    font-size: .6rem;
    .number {
        margin-top: .5rem;
        display: block;
        font-size: 10vw;
        font-weight: 100;
        @include mqAfterSize(750px) {
          font-size: 7vw;
        }
        @include mqAfterSize(1060px) {
          font-size: 4rem;
        }
        .unit {
            font-weight: 600;
            font-size: .6rem;
            margin-left: .5rem
        }
    }
}

.weight-entry-new {
    max-width: 320px;
}