.weight-entry {
    position: relative;
    padding-top: 1rem;
    + .weight-entry {
        border-top: 1px solid rgba($black, .15);
        margin-top: 1rem;
    }
    .weight {
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: -.25rem;
        color: lighten($black, 15);
    }
    .unit {
        margin-left: 1rem;
        letter-spacing: 0;
        font-size: .7rem;
        color: rgba($black, .5);
        text-transform:uppercase;
    }
    .delete-btn {
        position: absolute;
        right: 0;
        top: 25%;
        opacity: .5;
    }
    &:hover .delete-btn {
        opacity: 1;
    }
    .meta {
        font-size: .75rem;
        color: rgba($black, .5);
        span {
            text-transform: lowercase;
        }
    }
}

.weightlog-table .average {
    margin:2rem -1rem 1rem;
    text-align:center;
    text-transform: uppercase;
    padding: 1rem;
    background-color: rgba($black,.025);
    border-top:1px solid rgba($black, .03);
    border-bottom:1px solid rgba($black, .03);
    font-size: .6rem;
    .number {
        margin-top: .5rem;
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
        .unit {
            font-weight: 600;
            font-size: .6rem;
            margin-left: .5rem
        }
    }
}

.weight-entry-new {
    max-width: 420px;
    margin-bottom: 2rem;
}