<input type="checkbox" class="helper-input" id="filters-toggle">
<div class="activity-filters">
  <label for="filters-toggle" alt="Click to toggle search form and filters...">
    <i class="fa fa-search"></i>
    Search
  </label>
  <div class="filters-panel">
    <label for="filters-toggle" alt="Click to toggle search form and filters...">
      <i class="fa fa-times"></i>
      <span class="screen-reader-text">Close Filters Panel</span>
    </label>
    I'm a filter!
  </div>
</div>