<div class="food-entries-wrapper app-wrapper" v-bind:class="{ loading: loading }">
  <div class="day-navigator">
      <a href="#" @click.stop.prevent="loadPrevDay" title="Previous Day"><i class="fa fa-chevron-circle-left"></i></a>
      <span class="current-day" v-text="currentDay"></span>
      <a href="#" @click.stop.prevent="loadNextDay" title="Next Day"><i class="fa fa-chevron-circle-right"></i></a>
  </div>

  <div class="errors" v-if="errors.length > 0 || !hostReachable">
    <div class="connectivity error" v-if="!hostReachable">
      Hmm... It looks like we're having trouble reaching w8mngr. Retrying in
      <span v-text="connectionRetryCountdown"></span> seconds.
      <a href="#" @click.stop.prevent="retryConnection">Try now</a>
    </div>
  </div>

  <div class="section-inside" style="position:relative;">
    <h1><i class="fa fa-cutlery"></i> Food Log</h1>
    <div class="foodlog app-panel app-panel-form" v-if="entries.length > 0">
      <food-entry v-for="entry in entries"
                  :id="entry.id"
                  :index="$index"
                  :description="entry.description"
                  :calories.sync="entry.calories"
                  :fat.sync="entry.fat"
                  :carbs.sync="entry.carbs"
                  :protein.sync="entry.protein"></food-entry>
    </div>

    <p v-if="entries.length < 1">You have not logged any entries today. Add some via the form below!</p>

    <div class="totals" v-if="entries.length > 0">
      <h2 class="screen-reader-text">Today's Totals:</h2>
      <a href="/users/{{ user.id }}/edit?p=health#target_calories" class="tooltip" v-bind:class="{ show: overTotalCalories }">Why is this red?</a>
      <div title="Calories">
        <span class="number" v-text="totalCalories.toLocaleString()" v-bind:class="{ over: overTotalCalories }"></span>
        <span class="label">Calories</span>
        </div>
      <div title="Fat">
        <span class="number" v-text="totalFat.toLocaleString()"></span>
        <span class="label">Fat</span>
      </div>
      <div title="Carbs">
        <span class="number" v-text="totalCarbs.toLocaleString()"></span>
        <span class="label">Carbs</span>
      </div>
      <div title="Protein">
        <span class="number" v-text="totalProtein.toLocaleString()"></span>
        <span class="label">Protein</span>
      </div>
    </div>

    <div class="app-form food-entries grid">
      <div class="row">
        <div class="col full">
          <input  type="text"
                  @keyup.enter="addEntry"
                  @keyup.up="prevAutocompleteItem"
                  @keyup.down="nextAutocompleteItem"
                  @keyup.right="nextMeasurement()"
                  @keyup.left="previousMeasurement()"
                  debounce="500"
                  v-model="newDescription"
                  placeholder="Description" autofocus="autofocus" id="description-input"
                  class="large">
        </div>
      </div>
      <div class="row macros">
        <div class="col" title="Calories">
          <input type="text" @keyup.enter="addEntry" v-model="newCalories" placeholder="Calories">
        </div>
        <div class="col" title="Fat">
          <input type="text" @keyup.enter="addEntry" v-model="newFat" placeholder="Fat">
        </div>
        <div class="col" title="Carbs">
          <input type="text" @keyup.enter="addEntry" v-model="newCarbs" placeholder="Carbs">
        </div>
        <div class="col" title="Protein">
          <input type="text" @keyup.enter="addEntry" v-model="newProtein" placeholder="Protein">
        </div>
      </div>
      <div class="row">
        <div class="col full">
          <div class="btn-bar">
            <div class="left">
              <a class="btn small-icon" alt="Make this day a Faturday!"
                 title="Make this day a Faturday!" v-if="user.preferences.faturday_enabled == 'true'"
                 @click="faturday()">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <span class="screen-reader-text">Faturday</span>
              </a>
              <a class="btn small-icon disabled" alt="Faturdays are disabled..."
                 title="Faturdays are disabled..." v-else>
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <span class="screen-reader-text">Faturday</span>
              </a>
            </div>
            <div class="right">
              <a class="btn small-icon" alt="Scan Barcode" title="Scan Barcode" href="/search/foods?food_log_referrer=true">
                <i class="fa fa-barcode"></i>
                <span class="screen-reader-text">Scan Barcode</span>
              </a>
              <a class="btn small-icon" alt="Search for Foods" title="Search for Foods" href="/search/foods?food_log_referrer=true">
                <i class="fa fa-search"></i>
                <span class="screen-reader-text">Search for Foods</span>
              </a>
              <button name="button" type="submit" class="btn submit" @click.stop.prevent="addEntry">
                <i class="fa fa-plus"></i>
                <strong>New Entry</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="autocomplete-results">
      <h5><i class="fa fa-search" aria-hidden="true"></i> Search</h5>
      <div class="auto-complete-loading">
        <div class="small-loader" v-if="autocompleteLoading">
          <i class="fa fa-cog fa-spin"></i>
          <span class="screen-reader-text">Loading...</span>
        </div>
        <div class="message" v-if="!autocompleteLoading && newDescription.length > 3 && autocompleteItems.length < 1">
          <p>No items were found matching <em>{{ newDescription }}</em></p>
        </div>
        <div class="message" v-if="!autocompleteLoading && newDescription.length <= 3">
          <p> Enter text in the description fied to load items here that you can easily
              add to your log! Once there is a list of foods here, use the screen, a
              mouse, or the keyboard arrow keys to navigate the items.</p>
        </div>
      </div>
      <autocomplete-item v-for="item in autocompleteItems"
                         :index="$index"
                         :name="item.name"
                         :resource="item.resource"
                         @click="selectAutocompleteItem($index)"
                         @next-autocomplete-item="nextAutocompleteItem()"
                         @prev-autocomplete-item="prevAutocompleteItem()"
                         @add-entry="addEntry()"
                         @fill-in-form="fillInForm($arguments[0])"
                         transition="ac-fade" stagger="20"></autocomplete-item>
      <div class="pagination" v-if="(prevPage || nextPage) && !autocompleteLoading" transition="ac-pagination-fade">
        <a class="btn prev-btn previous" href="#" @click.prevent="autocompletePage(prevPage)" v-if="prevPage">
          <i class="fa fa-chevron-circle-left"></i> Back
        </a>
        <a class="btn next-btn next" href="#" @click.prevent="autocompletePage(nextPage)" v-if="nextPage">
          More <i class="fa fa-chevron-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>