<div class="food-search-form">
	<%= form_tag @base_url, method: :get do %>
		<%= text_field_tag 'q', params[:q], placeholder: 'E.g., butter, cheese, etc...' %>
		<%= button_tag(type: 'submit', class: 'btn search-btn') do %>
			<i class="fa fa-search"></i>
			<span class="screen-reader-text">Search for Foods</span>
		<% end %>
	<%  end %>
</div>
