<% if results.size > 0 %>
  <% if @search_type == "Foods" %>
    <table class="scannable-table foods-table">
      <%= render partial: "foods/food", collection: results, as: :food %>
    </table>
  <% else %>
    <div class="card-grid">
      <%= render partial: "recipes/recipe", collection: results, as: :recipe %>
    </div>
  <% end %>

<% end %>
